* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}


/*media queries MOBILE*/
@media screen and (max-width: 480px) {

  /*BODY PARA TODAS LAS PAGINAS*/
  .body {
    background-image: linear-gradient(to top, lightpink, white, lightpink);
  }

  /*HEADER*/
  .logo {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .headerLogo {
    padding: 5px 5px;
    margin: 1px 1px 1px 1px;
    background-color: black;
  }

  /*TITULO DE PAGINA*/
  h1 {
    padding: 2px;
    margin: 2px;
    font-size: 7rem;
    text-decoration: underline overline;
  }

  /*INDEX*/
  /*MAIN PAGINA HOME*/
  .tituloprincipal {
    position: relative;

  }

  /*NAVEGACION*/
  /*DECORACION NAVEGACION*/
  /*LETRAS NAVEGACION*/
  .navegacion,
  a,
  li {
    font-size: 3rem;
    padding: 1px;
    margin: 1px;
    color: black;
    /* color letras*/
  }


  h2 {
    font-size: 2.5rem;
    /*tamaño de subtitulos*/
  }

  /*PARRAFOS*/
  p {
    font-size: 2rem;
    /*tamaño textos parrafos*/
    font-style: italic;
    /*letra diagonal parrafos*/
  }

  .contenedorQuienesSomos {
    margin: 2px;
    padding: 2px;
    animation-name: aparecer;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: initial;
  }

  /*QUIENES SOMOS*/
  @keyframes aparecer {
    0% {
      opacity: 0%;
    }

    10% {
      opacity: 10%;
    }

    20% {
      opacity: 20%;
    }

    30% {
      opacity: 30%;
    }

    40% {
      opacity: 40%;
    }

    50% {
      opacity: 50%;
    }

    60% {
      opacity: 60%;
    }

    70% {
      opacity: 70%;
    }

    80% {
      opacity: 80%;
    }

    90% {
      opacity: 90%;
    }

    100% {
      opacity: 100%;
    }
  }

  .quienesSomos {
    margin: 10px;
    padding: 20px;
    text-align: center;
  }

  .quienesSomos h2 {
    left: -10px;
  }

  .quienesSomos p {
    width: 525px;
    height: 100px;
  }

  /*QUE HACEMOS*/
  .contenedorQueHacemos {
    animation-name: aparecer;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: initial;
  }

  @keyframes aparecer {
    0% {
      opacity: 0%;
    }

    10% {
      opacity: 10%;
    }

    20% {
      opacity: 20%;
    }

    30% {
      opacity: 30%;
    }

    40% {
      opacity: 40%;
    }

    50% {
      opacity: 50%;
    }

    60% {
      opacity: 60%;
    }

    70% {
      opacity: 70%;
    }

    80% {
      opacity: 80%;
    }

    90% {
      opacity: 90%;
    }

    100% {
      opacity: 100%;
    }
  }

  .queHacemos {
    margin: 10px;
    text-align: center;
    padding: 20px;
  }

  .queHacemos h2 {
    left: -10px;
  }

  .queHacemos p {
    width: 500px;
    height: 100px;
  }

  /*DONDE ENCONTRARNOS*/
  .contenedorDondeEncontrarnos {
    animation-name: aparecer;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: initial;
  }

  @keyframes aparecer {
    0% {
      opacity: 0%;
    }

    10% {
      opacity: 10%;
    }

    20% {
      opacity: 20%;
    }

    30% {
      opacity: 30%;
    }

    40% {
      opacity: 40%;
    }

    50% {
      opacity: 50%;
    }

    60% {
      opacity: 60%;
    }

    70% {
      opacity: 70%;
    }

    80% {
      opacity: 80%;
    }

    90% {
      opacity: 90%;
    }

    100% {
      opacity: 100%;
    }
  }

  .dondeEncontrarnos {
    margin: 10px;
    padding: 0px 90px;
  }

  .dondeEncontrarnos h2 {
    left: 0px;
    text-align: center;
  }

  /*FOOTER*/
  .contenedorFooter {
    position: relative;
  }

  .footer,
  article,
  a {
    margin: 1px;
    padding: 2px;
    font-size: 2rem;
  }

  /*TABLA PIEDRAS*/
  @keyframes aparecerTabla {
    0% {
      opacity: 0%;
    }

    10% {
      opacity: 10%;
    }

    20% {
      opacity: 20%;
    }

    30% {
      opacity: 30%;
    }

    40% {
      opacity: 40%;
    }

    50% {
      opacity: 50%;
    }

    60% {
      opacity: 60%;
    }

    70% {
      opacity: 70%;
    }

    80% {
      opacity: 80%;
    }

    90% {
      opacity: 90%;
    }

    100% {
      opacity: 100%;
    }
  }

  .contenedorTablaPiedras {
    padding: 5px;
    margin: 5px;
    width: 100%;
    text-align: center;
    animation-name: aparecerTabla;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: initial;
  }

  .contenedorTablaPiedras th {
    font-size: 2rem;
  }

  .contenedorTablaPiedras td {
    font-size: 2rem;
  }

  .contenedorTablaPiedras th,
  td {
    border: solid 0px black;
    padding: 0px;
  }

  .contenedorTablaPiedras th {
    background-color: aliceblue;
    border: solid 2px black;
    color: black;
  }


  /*MODELOS*/
  /*TABLAS MODELOS*/
  .tablaModelos {
    padding: 20px;
    margin: 5px;
    position: relative;
    left: 45px;
    width: 95%;
    text-align: center;
  }

  .tablaModelos th {
    font-size: 2.5rem;
  }

  .tablaModelos td {
    font-size: 3rem;
  }

  .tablaModelos th,
  td {
    border: solid 0px black;
    padding: 5px;
  }

  .tablaModelos th {
    background-color: aliceblue;
    border: solid 2px black;
    color: black;
  }

  /*COMO MEDIRME*/
  /*TABLA TALLES*/
  .subtituloVideo,
  h2 {
    left: -10px;
  }

  /*video*/
  .video {
    width: 100%;
    padding: 1px;
    margin: 5px;
  }

  .tablaTalles {
    padding: 5px;
    margin: 5px;
    position: absolute;
    left: 600px;
    bottom: 50px;
    width: 50%;
    text-align: center;
  }

  .tablaTalles th {
    font-size: 2.5rem;
  }

  .tablaTalles td {
    font-size: 3rem;
  }

  .tablaTalles th,
  td {
    border: solid 1px black;
    padding: 5px;
  }

  .tablaTalles th {
    background-color: aliceblue;
    border: solid 2px black;
    color: black;
  }

  .pasos {
    position: absolute;
    left: 580px;
    top: 880px;
  }

  .pasoApaso {
    margin: 1px;
    text-align: left;
    padding: 30px;
    font-size: 3rem;
  }

  .parrafoTalles {
    font-size: 2rem;
    padding: 50px;
    position: relative;
    bottom: 60px;
  }

  /*CONTACTO*/
  /*FORMULARIO*/
  .contenedorFormulario {
    position: relative;
    margin: 15px;
    font-size: 2rem;
    text-align: center;
  }

  .tituloFormulario,
  h2 {
    margin: 15px;
    position: relative;
    left: 650px;
  }
}


/*media queries DESKTOP*/
@media screen and (max-width: 1650PX) {

  /*BODY PARA TODAS LAS PAGINAS*/
  .body {
    background-image: linear-gradient(to top, lightpink, white, lightpink);
  }

  /*.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: repeat(5, 0.5fr);
    grid-template-areas:
      "titulo titulo titulo titulo"
      "navegacion navegacion navegacion navegacion"
      "quienesSomos quienesSomos dondeEncontrarnos dondeEncontrarnos"
      "queHacemos queHacemos dondeEncontrarnos dondeEncontrarnos"
      "redes redes redes redes";
  }

  .tituloprincipa {
    grid-area: titulo;
  }
  .navegacion {
    grid-area: navegacion;
  }
  .contenedorQuienesSomos {
    grid-area: quienesSomos;
  }
  .contenedorDondeEncontrarnos {
    grid-area: dondeEncontrarnos;
  }
  .contenedorQueHacemos {
    grid-area: queHacemos;
  }
  .contenedorFooter {
    grid-area: redes;
  }

  /*HEADER*/
  .logo {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .headerLogo {
    padding: 10px 10px;
    margin: 10px 0px 5px 0px;
    background-color: black;
  }

  /*TITULO DE PAGINA*/

  /*INDEX*/
  /*MAIN PAGINA HOME*/
  .tituloprincipal {
    font-size: 30px;
    padding: 5px 5px;
    margin: 5px 5px;
  }

  h1 {
    padding: 50px 10px 1px 1px;
    margin: 10px 0px 10px 0px;
    font-size: 10rem;
    text-decoration: underline overline;
    position: relative;
    text-align: center;
  }

  .navegacion,
  ul {
    /*NAVEGACION*/
    /*DECORACION NAVEGACION*/
    font-size: 4rem;
    padding: 5px 5px;
    margin: 5px 5px;
  }

  .navegacion li {
    display: inline;
  }

  .navegacion,
  a {
    text-align: center;
  }

  /*LETRAS NAVEGACION*/
  a {
    position: relative;
    text-align: center;
    color: black;
    /* color letras*/
  }

  h2 {
    font-size: 3rem;
    position: relative;
    text-align: center;
    /*tamaño de subtitulos*/
  }

  /*PARRAFOS*/
  p {
    font-size: 2rem;
    /*tamaño textos parrafos*/
    font-style: italic;
    /*letra diagonal parrafos*/
  }

  .contenedorQuienesSomos {
    animation-name: aparecer;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: initial;
  }

  /*QUIENES SOMOS*/
  @keyframes aparecer {
    0% {
      opacity: 0%;
    }

    10% {
      opacity: 10%;
    }

    20% {
      opacity: 20%;
    }

    30% {
      opacity: 30%;
    }

    40% {
      opacity: 40%;
    }

    50% {
      opacity: 50%;
    }

    60% {
      opacity: 60%;
    }

    70% {
      opacity: 70%;
    }

    80% {
      opacity: 80%;
    }

    90% {
      opacity: 90%;
    }

    100% {
      opacity: 100%;
    }
  }

  .quienesSomos {
    margin: 10px;
    padding: 20px;
    text-align: center;
  }

  .quienesSomos h2 {
    text-align: center;
  }

  .quienesSomos p {
    height: 100px;
  }

  /*QUE HACEMOS*/
  @keyframes aparecer {
    0% {
      opacity: 0%;
    }

    10% {
      opacity: 10%;
    }

    20% {
      opacity: 20%;
    }

    30% {
      opacity: 30%;
    }

    40% {
      opacity: 40%;
    }

    50% {
      opacity: 50%;
    }

    60% {
      opacity: 60%;
    }

    70% {
      opacity: 70%;
    }

    80% {
      opacity: 80%;
    }

    90% {
      opacity: 90%;
    }

    100% {
      opacity: 100%;
    }
  }

  .contenedorQueHacemos {
    animation-name: aparecer;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: initial;
  }

  .queHacemos {
    margin: 10px;
    padding: 20px;
    text-align: center;
  }

  .queHacemos p {
    height: 100px;
  }

  /*DONDE ENCONTRARNOS*/
  @keyframes aparecer {
    0% {
      opacity: 0%;
    }

    10% {
      opacity: 10%;
    }

    20% {
      opacity: 20%;
    }

    30% {
      opacity: 30%;
    }

    40% {
      opacity: 40%;
    }

    50% {
      opacity: 50%;
    }

    60% {
      opacity: 60%;
    }

    70% {
      opacity: 70%;
    }

    80% {
      opacity: 80%;
    }

    90% {
      opacity: 90%;
    }

    100% {
      opacity: 100%;
    }
  }

  .contenedorDondeEncontrarnos {
    animation-name: aparecer;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: initial;
  }

  .dondeEncontrarnos {
    margin: 10px;
    padding: 20px;
  }

  .dondeEncontrarnos h2 {
    left: 0px;
    text-align: center;
  }

  /*FOOTER*/
  .footer,div {
    margin: 1px;
    padding: 2px;
    
    
  }

  .footer,
  article {
    margin: 1px;
    padding: 5px;
    font-size: 2rem;
    text-align: center;
  }

  .footer,
  a {
    text-align: center;
    
  }


  /*TABLA PIEDRAS*/
  @keyframes aparecerTabla {
    0% {
      opacity: 0%;
    }

    10% {
      opacity: 10%;
    }

    20% {
      opacity: 20%;
    }

    30% {
      opacity: 30%;
    }

    40% {
      opacity: 40%;
    }

    50% {
      opacity: 50%;
    }

    60% {
      opacity: 60%;
    }

    70% {
      opacity: 70%;
    }

    80% {
      opacity: 80%;
    }

    90% {
      opacity: 90%;
    }

    100% {
      opacity: 100%;
    }
  }

  .contenedorTablaPiedras {
    padding: 10px 10px;
    margin: 5px 10px;
    width: 95%;
    text-align: center;
    animation-name: aparecerTabla;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: initial;
  }

  .contenedorTablaPiedras th {
    font-size: 2.5rem;
  }

  .contenedorTablaPiedras td {
    font-size: 3rem;

  }

  .contenedorTablaPiedras img {
    transform: scaleX(1.3);
    width: 80%;
    height: 150px;
    transition: height 2s;
  }

  .contenedorTablaPiedras img:hover {
    height: 200px;
  }

  .contenedorTablaPiedras th,
  td {
    border: solid 0px black;
    padding: 5px;
  }

  .contenedorTablaPiedras th {
    background-color: aliceblue;
    border: solid 2px black;
    color: black;
  }

  /*MODELOS*/
  /*TABLAS MODELOS*/
  .tablaModelos {
    padding: 20px;
    margin: 5px;
    position: relative;
    left: 45px;
    width: 95%;
    text-align: center;
  }

  .tablaModelos th {
    font-size: 2.5rem;
  }

  .tablaModelos td {
    font-size: 3rem;
  }

  .tablaModelos th,
  td {
    border: solid 0px black;
    padding: 5px;
  }

  .tablaModelos th {
    background-color: aliceblue;
    border: solid 2px black;
    color: black;
  }

  /*COMO MEDIRME*/
  /*TABLA TALLES*/
  .subtituloVideo,
  h2 {
    left: -10px;
  }

  /*video*/
  .video {
    width: 100%;
    padding: 1px;
    margin: 5px;
  }

  .tablaTalles {
    padding: 5px;
    margin: 5px;
    position: absolute;
    left: 600px;
    bottom: 50px;
    width: 50%;
    text-align: center;
  }

  .tablaTalles th {
    font-size: 2.5rem;
  }

  .tablaTalles td {
    font-size: 3rem;
  }

  .tablaTalles th,
  td {
    border: solid 1px black;
    padding: 5px;
  }

  .tablaTalles th {
    background-color: aliceblue;
    border: solid 2px black;
    color: black;
  }

  .pasos {
    position: absolute;
    left: 580px;
    top: 880px;
  }

  .pasoApaso {
    margin: 1px;
    text-align: left;
    padding: 30px;
    font-size: 3rem;
  }

  .parrafoTalles {
    font-size: 2rem;
    padding: 50px;
    position: relative;
    bottom: 60px;
  }

  /*CONTACTO*/
  /*FORMULARIO*/
  .contenedorFormulario {
    position: relative;
    margin: 15px;
    font-size: 2rem;
    text-align: center;
  }

  .tituloFormulario,
  h2 {
    margin: 15px;
    position: relative;
    text-align: center;
  }
}