footer{
    div {
    margin: 1px;
    padding: 2px;
    }
        article {
            margin: 1px;
            padding: 5px;
            font-size: 2rem;
            text-align: center;
        }
            a {
                text-align: center;
            }
    
}